.info-container {
  border-bottom: 3px solid black;
  padding: 30px;
  margin-bottom: 20px;
}

.birthday {
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.icon {
  align-self: flex-start;
}

.contact-info {
  padding-left: 10px;
  font-size: 25px;
}

.about-text {
  text-align: left;
  font-size: 25px;
}

#website-link {
  text-decoration: none;
  font-size: 25px;
  color: #1486b3;
}

#website-link:hover {
  color: black;
}

.education-header {
  text-align: left;
  font-size: 15px;
  padding-top: 20px;
}

.education-button {
  background-color: white;
  border: none;
}

.education-button:focus {
  border: none;
  outline: none;
}

h1 {
  padding-bottom: 20px;
}

.education-date {
  display: inline-block;
  padding-left: 20px;
  font-size: 20px;
}

.education-name {
  display: inline-block;
}

.education-info {
  text-align: left;
  font-size: 25px;
  padding-left: 50px;
}

.gpa-image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.units-studied {
  text-align: left;
  padding-left: 50px;
  padding-top: 30px;
}

.op-score {
  color: #1486b3;
  font-size: 50px;
  vertical-align: middle;
}

.skills-header {
  text-align: left;
  padding-bottom: 10px;
  padding-top: 20px;
}
